// ЦВЕТА
white = #f6f8f7
light-beige = #efeee9
beige = #eeeadf
gray-text = #455a64
black = #373e42
light-gray = #dfdcd5
dark_blue = #223b65
// РАЗМЕРЫ


// ШРИФТЫ
mainFont = 'Roboto', Arial, sans-serif
boldFont = 'RobotoBold', Arial, sans-serif
italicFont = 'RobotoItalic', Arial, sans-serif
