.hero 
	height 600px
	overflow hidden
	position relative

.hero__title
	absolute($top:50%)
	transform translateY(-50%)
	text-align center
	min-width 100%
	col(null, center)

.hero__user-block
	absolute-center()

