.hero 
	height em(660,14)
	overflow hidden
	position relative

.hero__bg
	min-width 100%
	display flex

.hero__title
	centered(y)
	text-align center
	min-width 100%
	max-width 100%
	col(null, center)

.hero__user-block
	centered(both)

