.hero 
	height 660px
	overflow hidden
	position relative

.hero__bg
	min-width 100%

.hero__title
	centered(y)
	text-align center
	min-width 100%
	col(null, center)

.hero__user-block
	centered(both)

