section.section.hero
	.hero__bg
		img(src="./static/img/general/moutain.jpg", alt="moutain").hero__bg-img

		a(href="").hamburger
	.hero__title
		img(src="./static/img/general/portfolio-header.png", alt="").section__title
		.user.hero__user-block
			.user__photo
				.user__photo-avatar
					img(src="./static/img/content/logo.jpg" width="150px" height="150px", alt="Дмитрий Колесников").own-photo
			.user__name Дмитрий Колесников
			.user-desc Личный сайт веб-разработчика
		a(href="").hamburger
			a(href="").down-arrow
				+icon('arrow-down')
