.about__skills 
	background beige
	display flex
	flex-direction column
	position relative
	width 50%

.triangle_fill_beige
	fill beige

.about-data__title
	text-align center
	max-width 400px
	margin 0 auto
