.about__left 
	display flex
	width 50%
	flex-direction column
	position relative
	background light-beige 

.triangle_fill_white
	fill light-beige 

.user-about__picture
	col(center, center)

.myPhoto
	box-shadow 1px 1px 10px 10px #d4d2d2
	margin-top 30px
	size(355px, 435px)
