.skill
	position relative
	margin-left 40px	
	
	&-section__list
		display flex
		justify-content flex-start
	
.circle
	fill none
	stroke-width 20
	max-width 100%
	
.circle__first
	stroke light-gray

.skills
	padding-bottom 40px

	&-section__item
		centered()
		text-align center
		
	&__item
		margin-top 40px


